/* -- -- -- -- -- -- -- -- -- -- 
 * 공 통
 * -- -- -- -- -- -- -- -- -- */

 * {
    box-sizing: border-box;
 }
/*
 a {
    text-decoration: none;
    color: #000;
 }
*/

/* -- -- -- -- -- -- -- -- -- -- 
 * 전체 영역 사이즈   max width 1200
 * -- -- -- -- -- -- -- -- -- */
.container {
    max-width: 1200px;
    margin: auto;
    position: relative;
}
  

/* -- -- -- -- -- -- -- -- -- -- 
 * 사이드바 사이즈, 좌측고정      ( 250px )
 * -- -- -- -- -- -- -- -- -- */
.sidebar {
    position: fixed;
    
    height: 100%;
    width: 250px;
    z-index: 1000;    
}

.container-right {
    padding-left: 250px;
}

/* -- -- -- -- -- -- -- -- -- -- 
 * 사이드바
 * -- -- -- -- -- -- -- -- -- */
.sidebar {
     /**/ background-color: rgba(255, 0, 0, 0.2); /**/
    
     .content-container {
        display: flex;
        flex-direction: column;

        /* -- -- -- -- LOGO -- -- -- -- */
        .logo {
            height: 88px;
                       
            .container-logo {
               height: 100%;
                padding: 16px;
                display: flex;
                flex-direction: column;
                
                .item-logo {
                    font-size: 24px;
                    margin: auto 0;
                }
            }
        }
        /* -- -- -- -- menu -- -- -- -- */
        .menu {
            height: 429px;

            .container-menu {
                background-color: rgba(0,0,0,0.2);
                height: 100%;
                padding: 64px 0;
                display: flex;
                flex-direction: column;

                .item-menu {
                    flex: 1;
                    border-bottom: 2px dotted black;
                    &:first-child { border-top: 2px dotted black;}
                }
            }
        }
        /* -- -- -- -- footer -- -- -- -- */
        .footer-sidebar {
            

            .container-footer {
               
                .item-footer {
                    height: 40px;
                }
            }
        }
     }
}


/* -- -- -- -- -- -- -- -- -- -- 
 * 상 단    16  918 16
 * -- -- -- -- -- -- -- -- -- */
.header {
    /**/ background-color: rgba(255, 247, 0, 0.2); /**/
}

/* -- -- -- -- -- -- -- -- -- -- 
 * 메 인   16  918 16
 * -- -- -- -- -- -- -- -- -- */
 .main {
    /**/ background-color: rgba(38, 255, 0, 0.2); /**/
}

/* -- -- -- -- -- -- -- -- -- -- 
 * 하 단
 * -- -- -- -- -- -- -- -- -- */
 .footer {
    /**/ background-color: rgba(0, 238, 255, 0.2); /**/
}

