/* ---------------------------------------------
 * 본문 영역 스타일
 * ------------------------------------------ */
 .main {
   /** background-color: #0000ff55; /**/
   font-family: "Montserrat", sans-serif;

/* ---------------------------------------------
 * 메인 커버 이미지 영역
 * ------------------------------------------ */
   .display {
        padding: 0 16px;
        position: relative;

        .bg-img {
            background-image: url("../img/jeans.jpg");
            height: 65vh;
            background-size: cover;
            background-position: center center; 
                         
        }

        .title {
            position: absolute;
            top: 50px;
            padding-left: 45px;
            
            display: block;
                       
            color: var(--my-color-white);
 
            .text1 {
                font-size: 64px;  
                font-weight: 400;    
                padding-bottom: 35px;
            }
            .text2 {
                font-weight: 400;
                font-size: 36px;
                padding-bottom: 40px;                
            }
            a {
                color: var(--my-color-white);
                background-color: var(--my-color-black);
                padding: 15px 24px;
                &:hover {
                   background-color: var(--my-color-light-gray);
                   color: var(--my-color-black);
                }
            }
            
       }

   }

/* ---------------------------------------------
 * product grid 아이템 나열 
 * ------------------------------------------ */
   .container-items {
        .title {
            padding: 16px;
        }

        .product-grid {
            display: flex;
            flex-wrap: wrap;            
            
            .item {
                width: 25%;
                display: block;
                padding: 0 16px;

                img {
                    width: 100%;
                }
                .detail {
                    padding: 10px 0;
                    p { padding: 3px 0;}
                }                
            }
        }

   }

 /* ---------------------------------------------
 * subscribe 영역 
 * ------------------------------------------ */
   .subscribe {
        font-family: "Montserrat", sans-serif;

        display: block;
        background-color: var(--my-color-black);
        color: var(--my-color-white);
        padding: 30px 20px;
        div {
            padding-bottom: 20px;
        }

        h2 {
            font-size: 40px;
            font-weight: 300;
            padding: 10px 0;
        }

        p {
            font-weight: 50;
        }
        input {
            width: 100%;
            padding: 10px;
        }
        button {
            width: 100px;
            padding: 10px 5px;
            background-color: var(--my-color-red);
            color: var(--my-color-white);
            font-weight: 10;
            border: 0;
            &:hover{
                background-color: var(--my-color-light-gray);
                color: var(--my-color-black);
            }
        }
        
    }

 }